@model Paneles_Fotovoltaicos.Models.SolarCalculator

<h2>Resultados del Cálculo Solar</h2>

<div>
    <p><strong>Potencia DC Calculada:</strong> @Model.DCOutput </p>
    <p><strong>Potencia AC Calculada:</strong> @Model.ACOutput </p>
</div>

<a href="/Home/Index">Volver al inicio</a>
