html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #FF8000;
    color: #000;
    margin-bottom: 60px;
}

main {
    flex: 1;
    padding: 20px;
    color: white;
    text-align: center;
}

div {
    margin: 0 auto;
}

table {
    margin: 0 auto;
}

.container {
    margin: 0 auto;
}

.table-responsive {
    padding-top: 5px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

form {
    margin: 0 auto;
}

footer {
    background-color: #FFFFFF;
    color: #FFF;
    padding: 20px;
    text-align: center;
}

nav a img#navimg {
    height: 100px;
    width: auto;
}

a.navbar-brand {
    background-color: transparent;
}

a.navbar-brand:hover {
    background-color: transparent;
}

a.nav-link {
    text-decoration: none;
    padding: 10px;
    color: #000;
    transition: all 0.3s ease;
    border-radius: 5px;
    font-size: 20px;
}

a.active {
    color: #FFF;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
}

h1.display-4 {
    color: #FFF;
    font-size: 3rem;
    font-weight: bold;
}

div.table-responsive {
    margin: 0 auto;
}

.btn-sm {
    color: white;
    font-size: 15px;
    height: 33px;
    width: 93px;
    display: flex;
    text-align: center;
}

/* Estilos para el mapa y la información */
#map {
    height: 500px;
    width: 100%;
}
/* -- Estilos para la información solar -- */
#solarDataContainer {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #DDD;
    border-radius: 8px;
    background-color: #FF8050;
}

#solarDataContainer h4 {
    margin-top: 0;
    color: white;
}

#solarDataContainer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#solarDataContainer ul li {
    padding: 5px 0;
    border-bottom: 1px dashed #EEE;
}

#solarDataContainer ul li:last-child {
    border-bottom: none;
}

/* --- Estilos para la InfoWindow de Google Maps --- */
#info {
    color: black;
}