USE [Paneles_Web]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 11-07-2025 11:14:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[RunCliente] [varchar](20) NOT NULL,
	[UsernameCliente] [varchar](50) NULL,
	[NombresCliente] [varchar](50) NULL,
	[DireccionCliente] [varchar](100) NULL,
	[TelefonoCliente] [varchar](20) NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[RunCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Componentes]    Script Date: 11-07-2025 11:14:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Componentes](
	[CodigoComponente] [varchar](100) NOT NULL,
	[NombreComponenbte] [varchar](100) NULL,
	[TipoComponente] [varchar](50) NULL,
	[MarcaComponente] [varchar](50) NULL,
	[ModeloComponente] [varchar](50) NULL,
	[Descripcion] [varchar](max) NULL,
 CONSTRAINT [PK_Componentes] PRIMARY KEY CLUSTERED 
(
	[CodigoComponente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Instaladores]    Script Date: 11-07-2025 11:14:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Instaladores](
	[RunInstalador] [varchar](20) NOT NULL,
	[UsernameInstalador] [varchar](50) NULL,
	[NombresInstalador] [varchar](50) NULL,
	[ApellidosInstalador] [varchar](50) NULL,
	[DireccionInstalador] [varchar](100) NULL,
	[TelefonoInstalador] [varchar](20) NULL,
	[SueldoInstalador] [int] NULL,
	[ContrasenaInstalador] [varchar](255) NULL,
	[IdRolInstalador] [int] NULL,
 CONSTRAINT [PK_Instaladoress] PRIMARY KEY CLUSTERED 
(
	[RunInstalador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Normativas]    Script Date: 11-07-2025 11:14:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Normativas](
	[CodigoNormativa] [varchar](200) NOT NULL,
	[TituloNormativa] [varchar](70) NULL,
	[DescripcionUrlNormativa] [varchar](100) NULL,
	[TipoNormativa] [varchar](50) NULL,
	[RegionNormativa] [varchar](60) NULL,
	[ComunaNormativa] [varchar](30) NULL,
	[InstitucionNormativa] [varchar](50) NULL,
	[FechaPublicacionNormativa] [date] NULL,
	[FechaInicioVigencia] [date] NULL,
	[FechaFinVigencia] [date] NULL,
 CONSTRAINT [PK_Normativas] PRIMARY KEY CLUSTERED 
(
	[CodigoNormativa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proyectos]    Script Date: 11-07-2025 11:14:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proyectos](
	[IdProyecto] [int] NOT NULL,
	[RunInstaladorProyecto] [varchar](20) NULL,
	[RunClienteProyecto] [varchar](20) NULL,
	[NombreProyecto] [varchar](100) NULL,
	[FechaInicioProyecto] [date] NULL,
	[FechaTerminoProyecto] [date] NULL,
	[DireccionProyecto] [varchar](100) NULL,
	[ResumenDatosProyecto] [varchar](255) NULL,
 CONSTRAINT [PK_Proyectos] PRIMARY KEY CLUSTERED 
(
	[IdProyecto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProyectosComponentesMap]    Script Date: 11-07-2025 11:14:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProyectosComponentesMap](
	[IdProyectosComponentes] [int] NOT NULL,
	[IdProyectoPsCs] [int] NULL,
	[CodigoComponentePsCs] [varchar](100) NULL,
	[Cantidad] [int] NULL,
	[FechaInstalacionComponente] [date] NULL,
	[EstadoUsoComponente] [varchar](50) NULL,
 CONSTRAINT [PK_ProyectosComponentesMap] PRIMARY KEY CLUSTERED 
(
	[IdProyectosComponentes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProyectosNormativasMap]    Script Date: 11-07-2025 11:14:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProyectosNormativasMap](
	[IdProyectosNormativas] [int] NOT NULL,
	[IdProyectoPsNs] [int] NULL,
	[CodigoNormativaPsNs] [varchar](200) NULL,
	[EsObligatoria] [bit] NULL,
 CONSTRAINT [PK_ProyectosNormativasMap] PRIMARY KEY CLUSTERED 
(
	[IdProyectosNormativas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 11-07-2025 11:14:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[IdRol] [int] NOT NULL,
	[NombreRol] [varchar](50) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Instaladores]  WITH CHECK ADD FOREIGN KEY([IdRolInstalador])
REFERENCES [dbo].[Roles] ([IdRol])
GO
ALTER TABLE [dbo].[Proyectos]  WITH CHECK ADD  CONSTRAINT [FK_Proyectos_Clientes] FOREIGN KEY([RunClienteProyecto])
REFERENCES [dbo].[Clientes] ([RunCliente])
GO
ALTER TABLE [dbo].[Proyectos] CHECK CONSTRAINT [FK_Proyectos_Clientes]
GO
ALTER TABLE [dbo].[Proyectos]  WITH CHECK ADD  CONSTRAINT [FK_Proyectos_Instaladores] FOREIGN KEY([RunInstaladorProyecto])
REFERENCES [dbo].[Instaladores] ([RunInstalador])
GO
ALTER TABLE [dbo].[Proyectos] CHECK CONSTRAINT [FK_Proyectos_Instaladores]
GO
ALTER TABLE [dbo].[ProyectosComponentesMap]  WITH CHECK ADD  CONSTRAINT [FK_ProyectosComponentesMap_Componentes] FOREIGN KEY([CodigoComponentePsCs])
REFERENCES [dbo].[Componentes] ([CodigoComponente])
GO
ALTER TABLE [dbo].[ProyectosComponentesMap] CHECK CONSTRAINT [FK_ProyectosComponentesMap_Componentes]
GO
ALTER TABLE [dbo].[ProyectosComponentesMap]  WITH CHECK ADD  CONSTRAINT [FK_ProyectosComponentesMap_Proyectos] FOREIGN KEY([IdProyectoPsCs])
REFERENCES [dbo].[Proyectos] ([IdProyecto])
GO
ALTER TABLE [dbo].[ProyectosComponentesMap] CHECK CONSTRAINT [FK_ProyectosComponentesMap_Proyectos]
GO
ALTER TABLE [dbo].[ProyectosNormativasMap]  WITH CHECK ADD  CONSTRAINT [FK_ProyectosNormativasMap_Normativas] FOREIGN KEY([CodigoNormativaPsNs])
REFERENCES [dbo].[Normativas] ([CodigoNormativa])
GO
ALTER TABLE [dbo].[ProyectosNormativasMap] CHECK CONSTRAINT [FK_ProyectosNormativasMap_Normativas]
GO
ALTER TABLE [dbo].[ProyectosNormativasMap]  WITH CHECK ADD  CONSTRAINT [FK_ProyectosNormativasMap_Proyectos] FOREIGN KEY([IdProyectoPsNs])
REFERENCES [dbo].[Proyectos] ([IdProyecto])
GO
ALTER TABLE [dbo].[ProyectosNormativasMap] CHECK CONSTRAINT [FK_ProyectosNormativasMap_Proyectos]
GO
